[2014-11-19 01:41] nickretallack opened #1 "selected:true does not work"
In fact, it's even broken [in the example](http://projects.skratchdot.com/react-bootstrap-multiselect/).  If it were working, the "no optgroups" select would load with "One" selected.

[2014-11-19 17:16] #1 closed, assigned to nobody

[2015-04-02 05:38] Koorosh opened #4 "Incompatibility with React 0.13 because of deprecated transferPropsTo method"
transferPropsTo method is (used in index.js file, line 47) deprecated.
Info: https://gist.github.com/sebmarkbage/a6e220b7097eb3c79ab7

[2015-04-03 21:16] #4 closed

[2015-05-14 18:59] andrewcross opened #5 "The @jsx React.DOM pragma has been deprecated as of React 0.12"
As per the title, the current version of React doesn't require the /** @jsx React.DOM */ that is currently in index.js. When using a loader such as babel-loader, it throws an error about this.

[2015-05-15 22:14] #5 closed

[2015-06-09 11:30] bunty93 opened #6 "How to get multiple selected values"
in handleChange() how do i get the multiple selected values ?

[2015-06-10 21:20] #6 closed

[2015-06-30 10:19] tomaskikutis opened #7 "Selected items don't update after setState"
In demo code there is handleChange function, which updates first select(labeled "no optgroups"), with new values after any select changes.
[code]
If it worked correctly, no values should be selected in first select after first change of any select, but old values stay and state is not being re-rendered.

[2015-07-07 07:04] tomaskikutis opened #9 "Bad title on multiselect element hover"
![title-bug](https://cloud.githubusercontent.com/assets/2076953/8540388/f32ec692-248d-11e5-979c-01e351312df0.png)

Title is formed like this

[code]

The problems is, that select options don't have innerHtml to form title from
[code]

Selects are rendered by render function in index.js

[code]

I think label should be duplicated as innerHtml in every option in order for this functionality not to b

[2015-08-19 00:50] ajeyak opened #10 "Reloading options based on events"
React calls render() when the state of the component changes. If a component uses this Multiselect widget and repaints itself when the web server responds with options for the dropdown, this multiselect does not repaint itself. The alternative is to implement the React component's componentDidMount() and call $.multiselect("dataprovider", options) inside it. This is straying from react's principle

[2015-08-19 11:35] skratchdot commented on #10
Yes, it's a known limitation.  This component was a lazy solution to a React project I was working on (and doesn't follow React's prop/state principles). See: https://github.com/skratchdot/react-bootstrap-multiselect/pull/8

Someone added a syncData method which might do what you want.  I tried a few methods of updating the options on every render(), but would always run into weird behavior.  For

[2015-08-20 20:18] ajeyak commented on #10
Thanks for responding! syncData() works and I can move on for now. This is a great widget and it would be really nice if it adheres more closely to react's principles, but I understand what you're saying.

[2015-08-24 10:37] netsgnut opened #12 "`templates` options not honoured?"
[`get-options.js`](https://github.com/skratchdot/react-bootstrap-multiselect/blob/master/lib/get-options.js) seems to be a whitelist for the `react-bootstrap-multiselect` to know which properties to pass to the underlying `bootstrap-multiselect` library. However it does not have a `templates` on list, which means the templates cannot be [customized](https://github.com/davidstutz/bootstrap-multisel

[2015-08-24 16:31] #12 closed

[2015-08-24 16:32] skratchdot commented on #12
@netsgnut - thanks for the suggestion! I made this change and published a new version.

[2015-08-25 03:11] netsgnut commented on #12
Awesome! Thanks :+1:

[2015-09-01 11:06] joshhornby commented on #6
@bunty93 Can I ask how you managed to solve this?

[2015-09-03 18:19] bunty93 commented on #6
@joshhornby  Have a look at the accepted answer https://stackoverflow.com/questions/30730962/how-to-get-multiple-selected-options-value-in-react-js

[2015-09-10 16:11] rkhayat opened #15 "Few options don't work"
buttonText  - Uncaught TypeError: this.options.buttonText is not a function
maxHeight / buttonWidth seem to be ignored.

 <Multiselect
            buttonText = "TESttt"
            data={this.state.data}
/>

[2015-09-10 16:51] #15 closed

[2015-09-15 17:13] rkhayat opened #18 "buttonClass Prop ignored"
buttonClass doesn't seem to do anything.
[code]
I set the following as a prop but it doesn't work.

[2015-09-16 15:21] #18 closed

[2015-09-16 15:56] rkhayat commented on #18
Thanks for the fix!

You broke the following but it's okay ;) :+1:
[code]

[2015-09-16 16:02] skratchdot commented on #18
@rkhayat - no problem

[2015-09-16 16:20] rkhayat commented on #18
Did this change the buttonText method at all? I was returning options[0].value but after npm update to latest, it is now undefined. I am looking into it now.

[2015-09-16 16:24] skratchdot commented on #18
Not sure.  The buttonText from the demo still works: http://projects.skratchdot.com/react-bootstrap-multiselect/ but I didn't do much testing...

[2015-09-16 16:30] rkhayat commented on #18
No worries, I will continue to test.

[2015-09-16 18:27] rkhayat commented on #18
Not sure if related to recent changes, but I had to change options to select in the buttonText method

[code]

[2015-09-25 06:40] JanneSalo opened #19 "Clickable optgroups (possibly) broken in 0.6.0"
I wasn't able to pinpoint what exactly causes this, but clickable optgroups (enableClickableOptGroups prop) behavior seems to have changed for the worse between 0.5.0 and 0.6.0. It seems that in 0.6.0, clicking a group label only triggers the onChange handler for the first child in the group. In 0.5.0, the handler is triggered for all children. At first I suspected that maybe the API had changed,

[2015-09-25 15:28] skratchdot commented on #19
Nothing was changed on purpose.  I'll try to do some testing between the 2 versions when I get a little bit of time.  Sorry about this, and thanks for the report.  I'm guessing it's something with this line:

https://github.com/skratchdot/react-bootstrap-multiselect/commit/4153ef3a3abad5d9b4fb763b7c7281da295e1840#diff-6d186b954a58d5bb740f73d84fe39073R42

[2015-10-09 15:54] rkhayat opened #20 "'templates' option not working"
Hello,

Adding the templates option seems to cause the multiselect not to render, is there something with my code or is the feature not included in the wrap?

[code]

[2015-10-09 16:58] skratchdot commented on #20
Have you tried it without the nested 'templates' key? I also think you just need to pass an object, but I haven't tested this.  Something like:

[code]
So a simplified version might be:
[code]

Can you test this and let me know if it works?  I might be able to look into it a bit later...

[2015-10-09 16:59] skratchdot commented on #20
Forgot to mention that the `templates` option was supposed to be fixed in this commit: https://github.com/skratchdot/react-bootstrap-multiselect/commit/d49f078b989b9b6af7dca76da04b8c71fdaf529c related to #12

[2015-10-12 11:42] rkhayat commented on #20
:+1:  Thank you! Life Saver!

[2015-10-12 11:42] #20 closed

[2015-11-06 14:39] mgruschetzki opened #21 "React >0.14.0 Warnings: .getDOMNode()"
Warning: ReactDOMComponent: Do not access .getDOMNode() of a DOM node; instead, use the node directly. This DOM node was rendered by MultiSelect.

The problem is on line 46 of index.js:
`$this.$multiselect = $($this.refs.multiselect.getDOMNode()); `
In React >0.14.0 the dom node is direct in ref, so below should be fixed:
`$this.$multiselect = $($this.refs.multiselect); `

[2015-11-12 04:48] skratchdot commented on #21
This should be fixed in 6bd385ee42144d89973123bbf0414377d30762af (published to npm as v1.0.0)

[2015-11-12 04:48] #21 closed

[2015-12-03 19:25] rkhayat opened #23 "Page scrolls when list reaches end"
Hello,

I am using react-bootstrap-multiselect in several spots, and I have noticed that (even when the mouse is still inside the component) the scroll event propagates to body, causing it to scroll, when you've reached the end of the list.

IS this something I can apply? Or does it need a fork. I'm thinking it should go something like this...
`
Check if mouse is on component,
Capture Scroll event

[2015-12-04 15:44] #23 closed

[2016-01-15 10:29] dragma opened #28 "enableFiltering not wokring"
I can't manage to enable the filtering feature with my Multiselect react component.

Here is the code
[code]

Am I doing something wrong ?

[2016-01-15 13:05] skratchdot commented on #28
Only these options are passed through: https://github.com/skratchdot/react-bootstrap-multiselect/commits/master/lib/get-options.js

There's probably a better way to do this, but this project was thrown together quickly.

I update those options by running `gulp get-options`: https://github.com/skratchdot/react-bootstrap-multiselect/commits/master/lib/get-options.js

[2016-01-15 13:24] dragma commented on #28
Oh !
I'm confused.
I don't know why I was sure that `enableFiltering` were listed in the `get-options.js`.
Thanks a lot for your time !
D.
--
PS : If someone else read this conversation because of the same problem, here is the answer :
[code]

[2016-01-21 17:55] #28 closed

[2016-02-10 13:46] RahulDole opened #30 "elem.cloneNode is not a function while accessing the select node"
Firstly, thanks a lot for writing this React wrapper around bootstrap multiselect. It works like a charm!
However, I got error initially and it was not rendering at all due to a line in your index.js code:
`$this.$multiselect = $($this.refs.multiselect);`

I was getting an error from jquery saying that elem.cloneNode is not a function, because it wasn't able to access the actual DOM of the select

[2016-02-10 16:48] skratchdot commented on #30
Thanks for the feedback.  I believe the code once used findDOMNode(), but then removed it when React 0.14 came out.  I guess it should be added back in.  Thanks again!

[2016-03-18 10:09] dragma opened #33 "`includeSelectAllOption={true}` does not trigger `onChange`"
Hi,
Is there any way to trigger the `onChange` event when the `includeSelectAllOption` is set to `true` and we click on "select all" ?
Regards,
F.

[2016-03-23 13:40] lvgunst opened #34 "Failed updating react-bootstra-multiselect because of unmet react dependency"
I've React dependency in my package.json:

`"react": "^0.14.7"`

When I try to update react-bootstrap-multiselect I get unmet dependecy on React:

[code]

In your package.json you are using `dependencies`
[code]

React 0.14.7 should be valid for `>=0.14.x` but it doesn't look te be working.

When I run `npm ls react` I get:

[code]

Im using NPM 3 which uses a flat `node_modules` directory. After

[2016-03-23 14:03] skratchdot commented on #34
hmmm.  That's odd.  I have no idea why there's a nested node_modules in 1 or the dependencies.  The first thing I'd try is `rm -rf ./node_modules` followed by a `npm install`.  That way you are working fresh.  Then see if there's still a `node_modules/react-bootstrap-multiselect/node_modules` folder (there shouldn't be).  If you don't want to delete your whole `node_modules` folder, just try: `rm

[2016-03-23 18:16] AlexCppns opened #35 "Cannot create a simple MultiSelect tag"
Code in a render method:

```<MultiSelect multiple />```

Error:

[code]

[2016-03-24 14:57] boldt opened #36 "Invariant Violation: MultiSelect.render(): A valid ReactComponent must be returned."
My project uses React 0.13.3. I added the following:

[code]

I am getting the following error:

[code]

I guess it is an issue due to my older react version. Does your component work with React 0.13?

[2016-03-24 15:59] dragma commented on #33
Foud the answer : there is a `onSelectAll` props that can do this.

BUT, I think I found a bug !

When `enableCaseInsensitiveFiltering` is `true` and `onSelectAll` is set, pressing a keyboard key inside the search input triggers the `onSelectAll` function.
Am I misunderstanding something ?

[2016-03-24 16:07] skratchdot commented on #36
Version `0.6.0` still supports React 13.  I'm not sure why I updated to React 14 (if it was too hard to support both versions or what).

I'll bump a major version when new React versions come out I guess (still not sure the best way to keep up w/ React changes- but I see a few libraries that do it that way).

So:
React 13 should use: react-bootstrap-multiselect: 0.6.0
React 14 should use: react-bo

[2016-03-24 16:12] skratchdot commented on #33
I'm not entirely sure of the answer (as I haven't really looked at this lib in a while).  It sounds like that's probably an unintended side-effect of the way this wrapper was written.

If the original library doesn't trigger `onSelectAll` when using the `enableCaseInsensitiveFiltering` feature, then it's probably caused by something in the `componentWillReceiveProps` code here:

https://github.com

[2016-03-25 15:13] lvgunst commented on #34
No I haven't run `npm install` inside of the `react-bootstrap-multiselect` folder. I forgot to mention Im using a `npm-shrinkwrap.json` file.

I have fixed it by removing my `node_modules` folder and updated the `react-bootstrap-multiselect` version in both my `package.json` and `npm-shrinkwrap.json` and run `npm install`. Very strange!

[2016-03-25 15:13] #34 closed

[2016-03-29 12:41] boldt commented on #36
Maybe add this version info to the README?

[2016-03-29 13:36] #36 closed

[2016-03-29 13:36] skratchdot commented on #36
Good call.  I've updated the readme.

[2016-04-10 04:10] rockuw opened #39 "Require 'bootstrap-dropdown' causes conflict"
If I link bootstrap.min.js in my app(which I must do because I need other functionalities in bootstrap), this multiselect dropdown button DOESN'T work.

See http://stackoverflow.com/questions/35378368/bootstrap-sass-multiselect-event-conflict

It would be better to remove the require of 'bootstrap-dropdown' in this module and let the user link  bootstrap.min.js instead:

[code]

[2016-04-15 08:32] Godefroy commented on #35
Same problem but I've got this error:

    Uncaught (in promise) TypeError: Cannot read property 'multiselect' of null

Screenshot of the console:

![image](https://cloud.githubusercontent.com/assets/148421/14555831/14cc088c-02f5-11e6-8cb9-9ecbd24ab267.png)

![image](https://cloud.githubusercontent.com/assets/148421/14555855/4ba066be-02f5-11e6-98ff-862bf148527b.png)

[2016-05-16 08:51] achtan commented on #39
same issue here

[2016-06-08 21:51] vishrutdixit opened #41 "Inconsistent behavior with groups"
Is this behavior expected? When I select two options from separate groups the button still only shows one selection. Also, I can't select multiple groups (in their entirety)-- the max number of selected options is always 4. Any ideas?

![dropdownbehavior](https://cloud.githubusercontent.com/assets/7294638/15912329/2e58eabc-2d99-11e6-878b-b3ea517e5e8c.gif)

[2016-06-08 22:01] #41 closed

[2016-07-05 19:45] tBaxter commented on #30
Wouldn't it be better to remove the jquery dependency there altogether? It's 2015, we can find dom nodes without jquery.

[2016-07-05 19:46] tBaxter commented on #35
I think you need to pass a data attribute.

[2016-07-05 19:47] tBaxter opened #42 "Consider removing Jquery dependency."
It is not needed.

[2016-07-20 01:22] wiiiim commented on #39
same here

[2016-07-25 23:05] aurambaj opened #43 "Upgrade to new bootstrap-multiselect"
Could you please update to the new version of bootstrap-multiselect? It fixes some bugs.

[2016-07-27 14:40] gazpachu opened #44 "When clicking in the dropdown, aria-expanded is always false"
All the data is correctly loaded but when clicking on the component, the dropdown doesn't appear. If I manually disable the display: hidden in the <ul>, then I can see the list with all the elements.

Is this a bug? I'm not sure but looks like it.

"react": "^15.2.1",
"react-bootstrap-multiselect": "^2.0.0",
"react-dom": "^15.2.1",

[2016-07-27 15:21] gazpachu commented on #44
The problem was more a "documentation" issue. It is required to import 'react-bootstrap' and load the 'react-bootstrap.min.js' file. With the normal 'bootstrap' NPM package it doesn't work.

Now there's an error in the console (from react bootstrap) but the app is working:

PanelGroup.js:10

Uncaught TypeError: Cannot read property 'PropTypes' of undefined

[2016-08-23 17:33] lawrencetvo opened #45 "Component loaded as having all boxes selected and checked"
Is there a way of accomplishing this?

For instance, when the component is loaded, I want all the checkboxes to already be checked and I want all of them to be selected. I tried using JQuery with this but I'm not entirely sure which class or property to be changing.

Thanks!

[2016-08-26 02:33] skratchdot commented on #43
Sorry for the delay on this.  Hope you didn't give up on this.  Just now got around to publishing [2.1.0](https://www.npmjs.com/package/react-bootstrap-multiselect)

[2016-08-26 02:33] #43 closed

[2016-09-09 13:25] maximmuss commented on #39
same here

[2016-09-10 21:28] #39 closed

[2016-09-10 21:31] skratchdot commented on #39
Can everyone re-test with version 2.2.0?  I slightly refactored the code. The `bootstrap-dropdown` check now looks like:
[code]
So if you already have dropdown included, then the bootstrap v3.7 version won't be included.

See the first few lines of the file: https://github.com/skratchdot/react-bootstrap-multiselect/blob/master/lib/bootstrap-dropdown.js

Also, here's the gulp task that generates th

[2016-09-19 23:18] justin-perinovic opened #49 "Extraneous props passed to select element, resulting in React warning"
This appears to be the offending code, in lib/index.js:

		//this.setOptionsFromProps();
		return React.createElement('select',
			objectAssign({}, this.props, {ref: 'multiselect'}));
	}

[2016-09-28 09:40] Nusinka opened #54 "How to set size like in bootstrap-multiselect?"
I couldn't set size on react-bootstrap-multiselect.
<Multiselect size="5" ..... />

[2016-09-30 00:57] BrandonBoone commented on #42
In my bundle analysis (using this component), jQuery takes up 257.6k of my bundle size (pre minification). This is super heavy. As I am not using jQuery for anything else it's a lot of unnceessary bloat for my project. I may have some time to take a look at removing it if you'd like.

![image](https://cloud.githubusercontent.com/assets/5246918/18977248/9390802a-8686-11e6-9e91-52616a2f67d6.png)

[2016-10-11 10:51] wvengen commented on #49
This is an example warning I'm seeing:
[code]

[2016-10-11 22:54] #49 closed

[2016-10-11 23:01] skratchdot commented on #49
I just published a new version 2.3.0 that *should* fix this.  Please re-open if you still see the error.  In my local testing, 'data' did not throw the error, but I'm not sure if that's true for all versions of react 15

[2016-10-12 07:43] wvengen commented on #49
I can confirm that this is solved (using React 15.3.2), thanks!

[2016-10-17 17:38] ofirk12 opened #57 "problem on the first example"
i get this meesage :
/react-bootstrap-multiselect/lib/bootstrap-dropdown.js:2
[2] if (typeof jQuery.fn.dropdown !== "undefined") return jQuery;
when i write var Multiselect = require('react-bootstrap-multiselect');
what can be the problem?

[2016-10-20 10:08] HellMagic commented on #57
i discover the problem also

[2016-10-20 11:38] skratchdot commented on #57
Are you including jQuery in your app, or is it being injected by 'react-bootstrap-multiselect'?  I've changed the code recently due to people wanting to inject their own version of jQuery, so there might be a bug with that part.

Do you have a repo I can check out (or an online example)?

[2016-10-21 17:10] alexcastillo commented on #42
+1

[2016-10-21 17:18] alexcastillo opened #58 "Removing default selected for radio buttons"
Hi,

Thanks for the component!

Any way to solve the following issue in react-bootstrap-multiselect?
[https://github.com/davidstutz/bootstrap-multiselect/issues/129](https://github.com/davidstutz/bootstrap-multiselect/issues/129)

Alex

[2016-11-02 18:58] aaronkw commented on #57
I'm also running into that error. I'm not including jQuery explicitly in my app.

[2016-11-03 01:02] skratchdot commented on #57
@aaronkw - what's the actual error message you see in the console?  I don't really understand the original bug report without links to code.  What bundler are you using (browserify/webpack/rollup)?

[2016-11-03 21:01] lawrencetvo opened #59 "Mocha Testing"
When I try to test the npm module` react-bootstrap-multiselect` with mocha and enzyme, I get the following error:

[code]
where the error is thrown when I try to import MasterTable. MasterTable tries to render the react-bootstrap-multiselect.

[2016-11-04 17:44] skratchdot commented on #59
Thank you!  I will try to fix this when I get a bit of time this weekend. The check should probably be more like:
[code]

[2016-11-07 16:48] lawrencetvo commented on #59
Please let me know when you have it fixed. The fix you sent me doesn't seem to work.

Thanks.

[2016-11-23 21:53] tkyang99 commented on #44
Hi can you please elaborate your 2nd point? My Multiselect looks all screwed up, it just shows all the options (like the dropdown is always open) under the select box. Is there something else I need to import and how do I import it?

[2016-12-07 03:03] jinggoing opened #60 "how to set default selected in list"
var data = [{value:1,label:'a'},{value:2,label:'b'}]
var tableList = [ {value:1,title:'t1'},{value:2,title:'t2'} ]

tableList.map((item, index){
// how to set Multiselect default selected by item.value
  <Multiselect   data={data}   />
})

[2016-12-07 13:12] skratchdot commented on #60
You just need to set the `selected` property to true or false:

[code]

[2016-12-07 13:12] #60 closed

[2016-12-19 06:22] redkyo017 commented on #39
I still got the error

[2016-12-19 09:29] redkyo017 commented on #57
I've got the same issue , the bundler is webpack

[2016-12-22 02:35] iggi- commented on #59
I have the same error. The odd part is that it worked for a while and then seems to have failed. I'm unsure why.

[2017-01-06 23:46] dustinaleksiuk opened #62 "The onSelectAll event is firing even if the user manually selects all options"
In the original control that I believe this one is based on, the documentation says that onSelectAll won't be fired if the user selects all options manually. Only if the user clicks the "All" checkbox.

http://davidstutz.github.io/bootstrap-multiselect/#configuration-options-onSelectAll

In this control, the event does fire. This makes it really hard to manage the select all event, because when I

[2017-01-07 14:35] skratchdot commented on #62
Thank you for the details!  I haven't done anything w/ this repo in a while, so I'm hoping to find some time soon to clean up some of the code, write some tests, and look into bugs like this.  The infinite loop sounds very bad, so I want to prevent anything like that from happening.

[2017-01-07 21:52] LogicMonsters opened #63 "how to get the selected options dynamically when dropdown close ?"
I want to get all selected options when dropdown hides. I tested "onDropdownHide", and found nothing useful.

[2017-01-12 11:11] isaachinman commented on #42
+1

[2017-01-12 15:31] BrandonBoone commented on #42
@isaachinman - yeah, I can take a look. I was thinking a good first pass might just be swapping out for something like [zepto.js](http://zeptojs.com/) (which is only 26kb minified). If the jQuery dependency hooks aren't super involved, then skipping to straight removal might be best. Also there's no test coverage so if someone wants to work on that it would help mitigate the risk.

[2017-01-12 15:34] isaachinman commented on #42
I agree, a quick swap to something like zepto saves 200kb with basically zero work involved. I would assume this component doesn't do any AJAX stuff or other complex bits of jQuery.

Sadly though, I am abandoning this project nearly as quickly as I found it, after discovering the way the `onChange` function works (extremely poorly). So best of luck!

[2017-01-12 15:45] BrandonBoone commented on #42
@isaachinman yeah I don't believe there are any AJAX dependencies so swapping out should be quick.

So far I've avoided using `onChange` (we have an explicit "filter" button), but ping me if you find a good alternative. :-)

[2017-01-12 15:55] isaachinman commented on #42
@BrandonBoone I ended up deciding on [react-selectize](https://www.npmjs.com/package/react-selectize) (it has a bootstrap theme). Seems to have a much nicer/in-depth API, and isn't fundamentally based on a jQuery hackjob.

I would definitely recommend it over `react-bootstrap-multiselect` to anyone reading this, past or present.

[2017-01-13 13:15] otanim commented on #59
@lawrencetvo, @iggi-
instead of define the `react-bootstrap-multiselect` package in this way:
[code]
do
[code]

[2017-01-13 13:58] skratchdot commented on #59
I should definitely keep a list of alternatives in the readme.  I keep meaning to update this repo one weekend, but have been so busy lately.  There are definitely some good *pure react* libs out there (this one is just a wrapper around an existing jQuery library).  I will try to update this lib soon though (and add some unit tests).

[2017-01-16 11:47] KARTIK01 commented on #63
` onDropdownHidden={() => console.log(this.refs.view.refs.multiselect.selectedOptions)}`

Hope this will work for you.

[2017-01-16 12:03] KARTIK01 opened #64 "selecting multiple values (having same value key) but from different group not appear as different"
[code]

onChange giving same index for each 1,2,3 either of Group One or of Group Two i.e 0,1,2 respectively

[code]

and also when we select multiple values (same) but different group, then it not shows on button label and nor it gives those selected value from `this.refs.view.refs.multiselect.selectedOptions`

<img src="http://staging.chatteron.io/images/1/B1rBUVcLe.png"></img>

[2017-01-16 14:21] skratchdot commented on #64
@KARTIK01 - I *think* this is just standard HTML form stuff, but I haven't updated the docs appropriately.  From the https://davidstutz.github.io/bootstrap-multiselect/#methods docs, I can see that you can pass in a "label" as well.  I think you want your groups to look like:

[code]

That way, to the end user, the form will look like you are selecting "2" under "Group Two", but what's returned in

[2017-01-17 06:43] KARTIK01 commented on #64
@skratchdot thanks. its solved my problem.

[2017-01-17 06:43] #64 closed

[2017-01-18 16:35] choosenvictim opened #65 "className as a prop"
Is there a way of passing className for custom styles ?

[2017-02-16 13:58] Gal-Brenner commented on #45
any news ?

[2017-02-16 14:27] lawrencetvo commented on #45
@Gal-Brenner . None, this library doesn't seem to be maintained right now.

[2017-03-08 15:42] rafikahamed opened #66 "How to get the selected details value"

[2017-03-24 12:55] anilapu opened #67 "How to get selected option details in handle change?"

[2017-04-05 12:52] reetou commented on #65
Need it too.

[2017-04-08 12:40] skratchdot commented on #65
There are these 4 "class" properties you can use:
- buttonClass
- inheritClass
- optionClass
- selectedClass

Here's a list of the available options (from the library that is being wrapped):
https://github.com/skratchdot/react-bootstrap-multiselect/blob/master/lib/get-options.js

[2017-04-17 12:25] audiolion opened #68 "React v15.5 createClass() deprecation"
React v15.5 is removing createClass() in favor of native es6 classes, is there any opposition to a PR to update react-bootstrap-multiselect to use es6 classes?

[2017-04-17 12:29] jeffklassen commented on #67
I think you want a call back as described in the original documentation here: http://davidstutz.github.io/bootstrap-multiselect/#configuration-options-onChange

[2017-04-17 14:02] skratchdot commented on #68
No. I'm all for it.  I haven't really done much w/ this library besides pull in PRs, so I've been wanting to spend some time one weekend cleaning it up (but haven't gotten around to it).

[2017-04-18 11:12] anilapu opened #70 "How to provide option select all?"
I want to give select all option. I tried onSelectAll prop but it is not showing the select all option.
`<Multiselect data={this.props.list} multiple ref="industry" onSelectAll
                  onChange={this.handleDropdown.bind(this, 'industry')}
                    buttonText={function(options, select) {
                      return 'Industry ('+ options.length+')';
                    }}

[2017-04-20 15:24] #68 closed

[2017-04-24 11:12] IamTheHttp opened #73 "Cannot resolve 'bootstrap' on dev builds"
Using a basic webpack configuration for building a project, i ran the following:
npm install react-bootstrap-multiselect

inside my entry point I have only one line:
import 'react-bootstrap-multiselect';

When building with webpack, I'm getting the following error:
Module not found: Error: Can't resolve 'bootstrap' in 'node_modules/react-bootstrap-multiselect/dist'

installed version for react-boo

[2017-04-24 12:04] skratchdot commented on #73
I'm not sure why `bootstrap` is listed as a devDependency in this project if we require it here: https://github.com/skratchdot/react-bootstrap-multiselect/blob/master/dist/index.js#L21

@IamTheHttp - Can you run `npm install bootstrap` and see if your issue goes away?  I'll need to work on a fix for this

[2017-04-24 12:24] IamTheHttp commented on #73
Hey @skratchdot
Installing bootstrap separately resolves the issue.(we've chosen to revert back to 2.2.0 for now anyway)

However, looking at version 2.2.0, `bootstrap` is also listed as a devDependency there, yet that version works.

It seems that bootstrap isn't really a dependency, as the code can run without it.
In fact, it seems there's some defensive code that's designed to check if bootstra

[2017-04-24 14:25] skratchdot commented on #73
We should just start using webpack to build this project IMO.  It was created years ago as a dumb wrapper around an existing lib, but needs some updating.  I'll try to take a look if I get some time (or pull in a PR if anyone else has time).  I don't like the examples currently, because they aren't showing the "right" way to handle selection events, etc.  So there's definitely room to make a lot o

[2017-04-24 14:50] IamTheHttp commented on #73
Thanks for your reply @skratchdot

Is there any discussion board / forum / reddit for contributing to this project?
Is there any issue tracking with roadmap goals?

I'd like to help out but unfortunately I have little to no experience in open source projects, I wouldn't know where to start.

[2017-04-24 15:28] skratchdot commented on #73
This repo is the correct place to discuss issues and roadmap goals.  There isn't currently a roadmap b/c I'm not even using this project (it was created years ago b/c I used the code for a project- but that project isn't being used any longer).  I open sourced the code in case any one else could benefit from it.

The only "goal" I have for the project is to spend some time trying to clean it up (p

[2017-04-24 16:16] sman591 commented on #73
I commented on the PR, but this bug was introduced in https://github.com/skratchdot/react-bootstrap-multiselect/pull/61

It isn't necessarily related to building with Webpack or another system, rather that the expected behavior of conditionally requiring bootstrap doesn't work the way it was thought to work. It probably needs a [try/catch block around the bootstrap require](http://stackoverflow.co

[2017-05-01 11:43] ananddodia opened #74 "Is there a way to get data for Options via API call?"
I am trying to integrate API call in filter search box.
So when user types in filter search box to search for option via filter box. It does an API call and than data is update. Hence option list is update. If any one has already integrated than please share.

[2017-05-07 08:36] IamTheHttp commented on #44
I think the 2nd point relates to this :
https://github.com/skratchdot/react-bootstrap-multiselect/issues/73

bootstrap is a dependency for this project, yet it's listed as a dev dependency, so it does not get installed.

[2017-08-29 02:21] South-Paw opened #78 "`multiple` option generates 2 `ul`s in the dom"
## The Problem

I found today that when I use the `multiple` option, the bootstrap-multiselect generates two `ul`s for the dropdown of options, with the second being populated by the selectable options.

![image](https://user-images.githubusercontent.com/2154764/29800867-7316ced0-8cc0-11e7-862e-819015225b8b.png)

It would seem that with Bootstrap v3 this is not an issue as both of these `ul`s are

[2017-08-29 02:37] South-Paw commented on #73
Also have experienced this issue, we ended up modifying the source and uploading to an internal npm repo.

changes we made were as follows...

[code]

I'd suggest the best way forward is to tell people that to use this they must have Bootstrap included on their page. The plugin shouldn't be trying to load it adhoc if Bootstrap doesn't exist.

[2017-08-29 19:15] aaronkw commented on #57
The issue for me is that previously (pre 2.2.0) the ```require('./boostrap-dropdown.js')``` was inside the if block that checks that there's a working window. With the new version, it breaks server-side rendering because ```bootstrap-dropdown.js``` gets loaded whether or not there's a  window, and thus ```jQuery.fn``` is undefined.

2.1.0:
[code]

2.2.0
[code]

[2017-08-29 19:24] sman591 commented on #57
Related: #73 and #77

[2017-09-14 07:41] vped commented on #62
@skratchdot it seems this issue yet not fixed. If you already working on this issue please let me know. I am thinking to work on this issue.

[2017-09-14 18:20] skratchdot commented on #62
@vped - I have not worked on it, and will probably not have time to.  Please feel free to work on a fix.  Keep in mind, the fix needs to go in https://github.com/skratchdot/react-bootstrap-multiselect/blob/master/lib/index.js (not one of the `/lib/bootstrap*` which are auto-generated / pulled from the upstream library).

[2017-12-06 10:29] NilapuAnusha opened #79 "Want to fire action (like onBlur) after selecting options?"
Is there a way to call a function after selecting options? I need to call an api so I dont want to hit on every change?

[2017-12-06 11:06] NilapuAnusha commented on #79
I found **onDropdownHide**. It will be called on closing the dropdown

[2017-12-06 11:06] #79 closed, assigned to nobody

[2017-12-18 12:31] NilapuAnusha commented on #59
When I run test cases got error from react-bootstrap-multiselect. I am using enzyme, mocha and chai.

    `ReferenceError: jQuery is not defined at Object../node_modules/bootstrap/js/transition.js (/home/anusha/Skua/cs-connect/05-12-2017/node_modules/bootstrap/js/transition.js:59:1)
    at __webpack_require__ (/home/anusha/Skua/cs-connect/05-12-2017/webpack/bootstrap 3ba9ca30786fab8785a6:669:1)

[2017-12-20 12:21] NilapuAnusha opened #80 "How to test multiselect dropdown on change event?"
Hi,
I am writing testcases using enzyme, mocha and chai. When I call onChange event for multiselect it is not firing call.

Here is my code:

[code]

[code]

Is there any better way to find onChange event?

[2017-12-20 12:53] NilapuAnusha commented on #59
Issue is fixed when I add
`global.$ = global.jQuery = require('jquery')`

[2017-12-21 12:33] NilapuAnusha commented on #59
@lawrencetvo Could you please look into [#80](https://github.com/skratchdot/react-bootstrap-multiselect/issues/59)?

[2018-01-17 14:26] ttessarolo commented on #78
Same issue. I've followed your suggestion and now it works.
I'm using React@16.

[2018-01-18 02:24] skratchdot commented on #78
Sorry.  I somehow missed this.  Thanks for the great explaination @South-Paw (and the confirmation @ttessarolo)!  I haven't really used this project for a long time, so haven't done a very good job at maintaining it.  I accept PR's, but will also try to fix this myself if I get some free time on a weekend to work on it.

[2018-01-19 15:38] ttessarolo commented on #78
@skratchdot thanks for your attention and for your time! please let us know if something is gonna change on the official release.

[2018-01-30 09:10] darkestmon opened #81 "Filter text clears on state change"
To replicate:
1. Create a multiselect with filter
2. Add a setState on onChange
3. Run
4. Write something on the filter box
5. Click an item
Expected: multiselect should still be filtered
What happens: filter is cleared and multiselect lists all items

I'm guessing since the setState forces a render of the component, the filter box is back to default empty state.

Tried a work around stated in the

[2018-01-30 09:40] darkestmon commented on #81
On a deeper look, looks like bootstrap-multiselect itself doesn't allow initialization of filter box. This might be a bigger issue to fix.

[2018-02-09 10:06] boriskogan81 opened #82 "Select options do not appear, multiselect is grayed out"
I'm using React 15.5, and have Bootstrap 4 included in the project.

My code:

[code]

My element appears like this:

![image](https://user-images.githubusercontent.com/10279403/36022234-fe128e60-0d90-11e8-936a-8f4623a50771.png)

When I inspect the element, the HTML looks fine:

`<span class="multiselect-native-select">
    <select data="[object Object],[object Object],[object Object]" multiple=""

[2018-02-09 13:31] skratchdot commented on #82
I'll take a look at this over the weekend.  It *might* be due to bootstrap 3 vs bootstrap 4 (but I'm not sure).  I'm going to try to update this library, and add some better tests and documentation.

[2018-02-10 22:10] boriskogan81 commented on #82
Great, thanks a lot. This package is perfect for a project I'm working on, and I'm really hoping to be able to put it to use.

[2018-03-11 15:03] boriskogan81 commented on #82
Any update on this?

[2018-03-12 00:11] skratchdot commented on #82
@boriskogan81 - I did start updating/re-writing the lib a month ago, but I didn't have enough time to write unit tests and publish my changes.  You can checkout the v3 branch here: https://github.com/skratchdot/react-bootstrap-multiselect/commits/v3

I'll try to finish it up (and publish) maybe next weekend.

I'm guessing your original issue is due to using bootstrap 4 (instead of 3)- but I haven'

[2018-03-14 09:32] yinfanguo opened #83 "How to deselect options ?"
The data for the two multiselect is the same, but you can't select the same option, so I should prompted and unselected when selecting the same option. I've seen that bootstrap-multiselect(http://davidstutz.de/bootstrap-multiselect/#methods) has a deselect method, but how can I use the react-bootstap-multiselect?

[2018-03-14 17:56] sman591 commented on #83
I accomplish this by storing a ref to the MultiSelect, and calling `syncData()` on it whenever the props change.

E.g:
[code]

[2018-03-14 17:56] sman591 commented on #83
See: https://github.com/skratchdot/react-bootstrap-multiselect#note-on-data-synchronization

[2018-03-21 12:10] #83 closed, assigned to nobody

[2018-04-23 10:57] taleinat opened #84 "Please pull in new version of boostrap-multiselect"
Among other things, it includes [a fix](https://github.com/davidstutz/bootstrap-multiselect/pull/915) for a bug where using shift+click in multiple mode with a filter active would select hidden (i.e. filtered out) items.

[2018-05-08 06:16] taleinat commented on #84
Ping?

[2018-06-06 03:17] mnewlin opened #85 "Add onChange property causes select box to be disabled, i.e. cannot click to show list."
My Multiselect seems to work fine until I would like to add handler then it stops working.

This works:
`<Multiselect data={groupList} multiple />`

This does not work:
`<Multiselect onChange={this.handleChange} data={groupList} multiple />`

Any ideas??

[2018-06-06 05:11] mnewlin commented on #85
I had a reference to bootstrap 4, once I changed all references to bootstrap 3, it started working. Strange that it only had an issue when I added the event handler.

[2018-06-07 18:55] skratchdot commented on #85
That is odd. I'm not 100% sure what's going on.  Was there an error being thrown in the console?  If so, was it in the `handleChange` function, or in the `react-bootstrap-multiselect` code somewhere?

[2018-06-07 20:17] mnewlin commented on #85
No console error. As long as I left off onChange property from the element it displayed fine. I tried to inspect the styles to see what was happening but couldn't find anything in the time that I spent looking. Once I downgraded to bootstrap 3.3.7 it started working again.

[2018-06-11 09:19] yinfanguo opened #86 "The option dropUp does not work!"
I have a simple question: I want to make a dropdown dropped up，but  it does not work! What's the problem? Thank You!
code here: `<Multiselect
                        data={[{value:11,label:11},{value:22,label:22},{value:33,label:33}]}
                        enableCollapsibleOptGroups = {true}
                        maxHeight={260}
                        dropUp={true}
                    />`

[2018-06-20 12:02] shorif2000 opened #87 "does not show list after initial open"
after the 1st open and close every other click it does not seem to open i can see it does not add the class `open` in `<div class="btn-group show">`

the following code is in closed state
[code]

the following code is in open state
[code]

[2018-06-20 19:33] skratchdot commented on #87
do you have an online example/demo we can checkout?

[2018-07-04 14:50] shorif2000 commented on #87
@skratchdot you can see it here

<a href="https://codesandbox.io/s/jprrxy4rwv">
  <img alt="Edit react-bootstrap-multiselect" src="https://codesandbox.io/static/img/play-codesandbox.svg">
</a>

direct link https://jprrxy4rwv.codesandbox.io/

it also messes up the css

[2018-07-04 15:21] skratchdot commented on #87
@shorif2000 - Thanks for the link!  I'm looking now.  I think this is a bootstrap 3 vs 4 thing.  I *think* `react-bootstrap-multiselect` only works with bootstrap 3.  I will take a closer look at this.  I know a few months ago, I tried upgrading the library (and adding some tests).  I will take another look at the branch I created, and see if I can push a fix that works with your codebase.

[2018-07-04 15:24] shorif2000 commented on #87
@skratchdot i am using bootstrap v3

[2018-07-04 17:43] skratchdot commented on #87
@shorif2000 - I only asked b/c I saw bootstrap 4 in the codesandbox link.

I was able to get it working locally by making the following changes:

In `package.json`, change the `dependencies` section so it looks like:
[code]

In, `commsmatrix.js`, remove all the lines before `const statusList = [`, and paste in:
[code]

[2018-07-04 17:44] skratchdot commented on #87
Perhaps I should publish the `v3` branch, but I wanted to figure out a better way to make it work (without using `require` and using `import` statements instead).

[2018-07-04 17:47] skratchdot commented on #87
gif of it working locally:

![multiselect-issue](https://user-images.githubusercontent.com/434470/42290003-b95eee72-7f90-11e8-9cbd-22f44c5f4358.gif)

[2018-07-05 09:35] shorif2000 commented on #87
@skratchdot how do i get this locally `"react-bootstrap-multiselect": "git@github.com:skratchdot/react-bootstrap-multiselect.git#v3",`

this is my package.son and it does not work when i added that v3 part

[code]

[2018-07-05 09:43] shorif2000 commented on #87
@skratchdot locally i have changed it to the following. is it correct.

[code]

[2018-07-05 12:13] skratchdot commented on #87
It looks like you have bootstrap 4 in your dependencies.

You can install the v3 branch by running:
[code]

Then the additional dependencies:
[code]

Also, the v3 docs are here:
https://github.com/skratchdot/react-bootstrap-multiselect/tree/v3#getting-started

It looks like you are including the correct code in the `commsmatrix.js` file.  The important part is this section:
[code]

and adding `/*

[2018-07-05 12:14] skratchdot commented on #87
Perhaps this weekend I will have time to publish the v3 branch (to make this easier for you).  I can also look into seeing how hard it will be to add bootstrap 4 support (perhaps it already works).

[2018-07-05 13:16] shorif2000 commented on #87
@skratchdot  yh i think im using bootstrap 4, in my react app and bootstrap 3 in the old version. so i got confused.  the following doesn't work

[code]

moving to bootstrap 3 seems to mess up all the css.

[2018-07-06 00:32] skratchdot commented on #87
@shorif2000 - You *should* be able to do something like this as well:
[code]

Basically, you just need to install this branch:
https://github.com/skratchdot/react-bootstrap-multiselect/tree/v3

Follow the npm instructions for doing so:
https://docs.npmjs.com/files/package.json#git-urls-as-dependencies

There's definitely a package.json in that git branch

[2019-01-07 21:13] Greg-Freeman opened #88 "Options seem to not be working"
I am trying to use the enableCollapsibleOptGroups property. When I use it, nothing in my list renders. Am I using this property correctly and is it expected to work? I've tried other properties too and they seem to do the same thing -- I just end up with an empty list. As soon as I remove the property, the dropdown is populated.

`<Multiselect ref="myRef" data={this.state.groups} enableCollapsible

[2019-01-30 01:32] p-v-a commented on #88
it's an issue in the library here is how ul tag is rendered without options:
![image](https://user-images.githubusercontent.com/26383433/51952038-f79f2680-248a-11e9-9666-daaf003ceefe.png)
and here is how ul is rendered with any option provided:
![image](https://user-images.githubusercontent.com/26383433/51952059-16052200-248b-11e9-86c1-cf47f877fc46.png)
So it's sending ul element twice for some re

[2019-04-29 12:18] rpashankar opened #89 "Unable to add a className in buttonContainer"
Hi,

I am trying to get a filter icon along with button text on selecting any item from the dropdown. I am trying to change the buttonContainer className value on checking any item from the drop down and get the filter glyphicon.
buttonContainer property is not getting updated..

Please find the below code i have used..

[2019-04-29 12:18] rpashankar commented on #89
`render() {
   let buttonContainer='<div class="btn-group tempClass" />'
   let buttonText = options => {
     if (options.length === 0) {
       $('#mselect option').each(function() {
         let input = $('input[value="' + $(this).val() + '"]')
         input.prop('enabled', true)
         input.parent('li').addClass('active')
       })
       if (this.props.placeHolder) {
         return this.

[2019-04-29 12:19] rpashankar commented on #89
render() {
   let buttonContainer='<div class="btn-group tempClass" />'
   let buttonText = options => {
     if (options.length === 0) {
       $('#mselect option').each(function() {
         let input = $('input[value="' + $(this).val() + '"]')
         input.prop('enabled', true)
         input.parent('li').addClass('active')
       })
       if (this.props.placeHolder) {
         return this.p

[2019-04-29 12:19] rpashankar commented on #89
[code]

[2019-05-29 20:13] SivalakshmiViswanathan opened #90 "Unable to add event listener to button added through template props"
Hi,
I added a button above filter part and trying to add event listener to it in my react code.

Added event listerner using the DOM id provide for button inside template inside componentDidMount().

The above lifecycle function is getting executed..

But unable to trigger a click or respective event writtern for DOM id (element).

Please suggest some way to acheive this.
Template
[code]
Component

[2019-11-28 10:30] psingh157 opened #91 "Module is not working"
This module is not working, not even in this sandbox (Only Working One time)
I am using Bootstrap v4.4.0
and react-bootstrap-multiselect v2.4.1
[Sandbox Link](https://codesandbox.io/s/jprrxy4rwv?from-embed)

[2019-12-17 03:32] #86 closed, assigned to nobody

[2020-02-19 09:43] jayna456 commented on #78
@South-Paw , I followed your suggestions but I am still getting 2 ul, Is there anything to do after comment out that line???

[2020-07-15 03:43] ervbsankar opened #92 "SCRIPT5022: DROPDOWN: Option "popperConfig" provided type "window" but expected type "(null|object)"."
I am getting this error in Internet Explorer ONLY

[2020-10-09 16:06] JSiscar commented on #85
It creates 2 ul elements when is added (an empty one and the one you actually created):

`<ul class="multiselect-container dropdown-menu show" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;"></ul>`

`<ul class="multiselect-container dropdown-menu"><li><a tabindex="0"><label class="checkbox"><input type="che

[2020-11-10 19:24] jibaromar commented on #88
Did u manage to solve the problem by any chance?

[2021-02-27 18:51] 3atharvkurdukar opened #93 "Not compatible with react-bootstrap"
I am currently using `react-bootstrap` and came across this package because it lacks the functionality to select multiple inputs.  The `react-bootstrap` library works using native JavaScript instead of `popper.js`, but once I import this library, it asks for popper.js library. I am getting following error:
[code]
How do I implement popper.js  such that it won't mess with native JavaScript?
I alrea

[2021-03-05 04:43] mathvav commented on #93
Looks like this project is abandoned... the last release was before the release of Bootstrap 4 stable, so it's more than likely that it won't work even if you can get past this error

[2021-03-05 07:43] 3atharvkurdukar commented on #93
@mathvav Can you please suggest me any better alternative? I recently used `react-select`, which is nice, but I liked the UI of react-bootstrap-select.

[2021-03-05 09:05] mathvav commented on #93
@3atharvkurdukar unfortunately I'm in the same boat as you.

If you don't need groups of options, this looks like a good contender: https://www.npmjs.com/package/react-multiselect-dropdown-bootstrap

If you manage to find something else, let me know. I'm trying to find something that is just a dropdown (nothing too visually busy when the dropdown is closed) to no avail.

I briefly looked into fork

[2021-03-08 10:17] 3atharvkurdukar commented on #93
Thanks, buddy! This is just what I needed. `react-select` is nice, but it lacked the simplicity. Most of the naïve users don't understand tags. Thanks for the help.

[2021-03-08 20:48] mathvav commented on #93
@3atharvkurdukar glad I could help—let me know if it works for you, since I've not gotten around to using it!